.inTheback{

    z-index:-1 ;
     
       background-image: url('https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/28055912_10155147172982127_7765193986053659561_n.jpg?oh=5355ff52762d31d31bc06c738a42a99b&oe=5B04B397');
       border-radius: 30%;
       background-size: 100%;
       margin-top:0px;
       background-position: center;
       background-repeat: no-repeat;
   }
body{
    background-color: rgb(255, 89, 117);
}

