.header{
    background-color:rgb(180, 104, 187);
    position:center;
    z-index: 3;
    color:rgb(252, 249, 249);
    text-shadow: 1px 1px rgb(78, 2, 2);
    font-family: Cursive;
    font-kerning:4px;
}